h1 {
  font-family: 'La Belle Aurore';
  font-size: 4em;
  text-align: left;
}

h3, h4 {
  text-align: left;
  margin-left: 50px;
  font-family: 'Nunito'
}

p {
  text-align: left;
  margin-left: 50px;
  font-family: 'Nunito'
}

.cursive {
  font-family: 'La Belle Aurore';
  font-size: 50px;
}

/*.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 300px;
}

.title {
  color: grey;
  font-size: 18px;
}

.profile-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.profile-button:hover, a:hover {
  opacity: 0.7;
}
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.profile-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}*/

div.reservation {
    background-color: #EAFAF1;
    color: black;
    margin: 20px 0 20px 0;
    padding: 20px;
}


@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

@import url('https://fonts.googleapis.com/css?family=Rozha+One');

@import url('https://fonts.googleapis.com/css?family=Nunito');
