h1 {
  font-family: 'La Belle Aurore';
  font-size: 4em;
  text-align: left;
}

h3, h4 {
  text-align: left;
  margin-left: 50px;
  font-family: 'Nunito'
}

p {
  text-align: left;
  margin-left: 50px;
  font-family: 'Nunito'
}

.cursive {
  font-family: 'La Belle Aurore';
  font-size: 50px;
}

div.reservation {
    background-color: #EAFAF1;
    color: black;
    margin: 20px 0 20px 0;
    padding: 20px;
}


@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

@import url('https://fonts.googleapis.com/css?family=Rozha+One');

@import url('https://fonts.googleapis.com/css?family=Nunito');
