/*body {
    background-image: url("https://i.imgur.com/D3D6aUd.jpg");
    background-color: #cccccc;
}*/

h1 {
  font-family: 'Rozha One'
}

@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');
