.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.searchBar {
  z-index: 1;
  position: absolute;
  width: 500px;
  left: 400px;
  top: 300px;
  /*float: right;*/
}

.hitched {
  text-align: center;
  font-size: 5em;
  font-family: 'La Belle Aurore';
  z-index: 1;
  position: relative;
}

.main-margins {
  margin-left: 5%;
  margin-right: 5%
}


@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');
